In [1]:
import numpy as np
import pandas as pd

In [6]:
mapping = pd.read_csv("numbermap.csv", header=None, index_col=0, squeeze=True).to_dict()

In [7]:
mapping

{'0': 'zero',
 '1': 'one',
 '2': 'two',
 '3': 'three',
 '4': 'four',
 '5': 'five',
 '6': 'six',
 '7': 'seven',
 '8': 'eight',
 '9': 'nine',
 '10': 'ten',
 '11': 'eleven',
 '12': 'twelve',
 '13': 'thirteen',
 '14': 'fourteen',
 '15': 'fifteen',
 '16': 'sixteen',
 '17': 'seventeen',
 '18': 'eighteen',
 '19': 'nineteen',
 '20': 'twenty',
 '21': 'twenty one',
 '22': 'twenty two',
 '23': 'twenty three',
 '24': 'twenty four',
 '25': 'twenty five',
 '26': 'twenty six',
 '27': 'twenty seven',
 '28': 'twenty eight',
 '29': 'twenty nine',
 '30': 'thirty',
 '31': 'thirty one',
 '32': 'thirty two ',
 '33': 'thirty three',
 '34': 'thirty four',
 '35': 'thirty five',
 '36': 'thirty six',
 '37': 'thirty seven',
 '38': 'thirty eight',
 '39': 'thirty nine',
 '40': 'forty ',
 '41': 'forty one',
 '42': 'forty two',
 '43': 'forty three',
 '44': 'forty four',
 '45': 'forty five',
 '46': 'forty six',
 '47': 'forty seven',
 '48': 'forty eight',
 '49': 'forty nine',
 '50': 'fifty ',
 '51': 'fifty one',
 '52': 'fifty two',
 '53': 'fifty three',
 '54': 'ffifty four ',
 '55': 'fifty five',
 '56': 'fifty six',
 '57': 'fifty seven',
 '58': 'fifty eight',
 '59': 'fifty nine',
 '60': 'sixty',
 '61': 'sixty one',
 '62': 'sixty two',
 '63': 'sixty three',
 '64': 'sixty four',
 '65': 'sixty five',
 '66': 'sixty six',
 '67': 'sixty seven',
 '68': 'sixty eight',
 '69': 'sixty nine',
 '70': 'seventy',
 '71': 'seventy one',
 '72': 'seventy two',
 '73': 'seventy three',
 '74': 'seventy four',
 '75': 'seventy five',
 '76': 'seventy six',
 '77': 'seventy seven',
 '78': 'seventy eight',
 '79': 'seventy nine',
 '80': 'eighty',
 '81': 'eighty one',
 '82': 'eighty two',
 '83': 'eighty three',
 '84': 'eighty four',
 '85': 'eighty five',
 '86': 'eighty six',
 '87': 'eighty seven',
 '88': 'eighty eight',
 '89': 'eighty nine',
 '90': 'ninety',
 '91': 'ninety one',
 '92': 'ninety two',
 '93': 'ninety three',
 '94': 'ninety four',
 '95': 'ninety five',
 '96': 'ninety six',
 '97': 'ninety seven',
 '98': 'ninety eight',
 '99': 'ninety nine',
 '100': 'hundred',
 '1000': 'thousand',
 '10000': 'ten thousand',
 '100000': 'hundred thousand',
 '1000000': 'million',
 '10000000': 'ten million',
 '100000000': 'hundred million',
 '1000000000': 'billion',
 '-': 'negative',
 '.': 'point',
 ',': 'comma',
 'and': 'FALSE',
 'currency_symbol': '$',
 'currency': 'dollar',
 'percent': 'percent',
 '+': 'plus'}

In [216]:
mapping[''] = ''
mapping['%'] = 'percent'

In [130]:
tens = {
# '100': 'hundred',
 '': '',
 '1000': 'thousand',
#  '10000': 'ten thousand',
#  '100000': 'hundred thousand',
 '1000000': 'million',
#  '10000000': 'ten million',
#  '100000000': 'hundred million',
 '1000000000': 'billion'}

tens_keys = list(tens.keys())

In [131]:
tens_keys

['', '1000', '1000000', '1000000000']

In [228]:
def read_whole_number(string):
    rev = string[::-1]
    chunks = []
    for i in range(0,len(rev),3):
        chunks.append(rev[i:i+3][::-1])
    chunks = chunks[::-1]
    result = ""
    tens_idx = len(chunks)-1
    
    for chunk in chunks:
        if len(chunk) < 3:
            result += mapping[chunk] + ' '
            result += tens[tens_keys[tens_idx]] + ' '
        elif chunk == '000':
            result = result
        else:
            result += process_chunk(chunk) + ' '
            result += tens[tens_keys[tens_idx]] + ' '
        tens_idx -= 1
    return result
    
def process_chunk(string):
    hundreds = string[0]
    if hundreds == '0':
        hundred_string = ''
        tens = str(int(string[1:]))
        if tens == '0':
            return ''
        else:
            return mapping[tens]
    else:
        hundred_string = hundreds
        tens = str(int(string[1:]))
        if tens == '0':
            return mapping[hundred_string] + ' ' + mapping['100']
        else:
            return mapping[hundred_string] + ' ' + mapping['100'] + ' ' + mapping[tens]

In [229]:
def read_all(string):
    res = ""
    for n in string:
        res += mapping[n] + ' '
    return res

In [294]:
def read_number(string):
    if string.isnumeric() and 1500 < int(string) < 2100:
        if string[1:-1] == '00':
            return read_whole_number(string)
        elif string[-2:] == '00':
            return read_whole_number(string[:2]) + 'hundred'
        else:
            if string[2:][0] == '0':
                return read_whole_number(string[:2]) + 'zero ' + read_whole_number(string[3:])
            else:
                return read_whole_number(string[:2]) + read_whole_number(string[2:])
    elif mapping['currency_symbol'] in string:
        return read_number(string[1:]) + mapping['currency'] + 's'
    elif '-' in string:
        return mapping['-'] + read_number(string[1:])
    elif '.' in string:
        s1, s2 = string.split('.')
        return read_whole_number(s1) + mapping['.'] + ' ' + read_all(s2)
    elif '+' in string: #phone number?
        return mapping['+'] + ' ' + read_all(string[1:])
    elif '%' in string:
        return read_number(string[:-1]) + ' ' + mapping['%']
    else:
        return read_whole_number(string)

In [295]:
def process_final(string):
    return ' '.join([x for x in read_number(string).split(' ') if x!= ''])

In [298]:
for _ in range(100):
    n = np.random.randint(1500, 2100)
    print(n, process_final(str(n)))

1943 nineteen forty three
1758 seventeen fifty eight
1784 seventeen eighty four
1604 sixteen zero four
1723 seventeen twenty three
1740 seventeen forty
1548 fifteen forty eight
1732 seventeen thirty two
1798 seventeen ninety eight
2022 twenty twenty two
1523 fifteen twenty three
1777 seventeen seventy seven
1513 fifteen thirteen
1874 eighteen seventy four
1846 eighteen forty six
1662 sixteen sixty two
1666 sixteen sixty six
1942 nineteen forty two
1904 nineteen zero four
1675 sixteen seventy five
1936 nineteen thirty six
1562 fifteen sixty two
1713 seventeen thirteen
1553 fifteen fifty three
1915 nineteen fifteen
1526 fifteen twenty six
2070 twenty seventy
1650 sixteen fifty
1884 eighteen eighty four
1669 sixteen sixty nine
1831 eighteen thirty one
2037 twenty thirty seven
2042 twenty forty two
1549 fifteen forty nine
1614 sixteen fourteen
1850 eighteen fifty
2093 twenty ninety three
1976 nineteen seventy six
1719 seventeen nineteen
1971 nineteen seventy one
1605 sixteen zero five
1559 fifteen fifty nine
1509 fifteen zero nine
1639 sixteen thirty nine
1800 eighteen hundred
1890 eighteen ninety
1802 eighteen zero two
1848 eighteen forty eight
1859 eighteen fifty nine
1800 eighteen hundred
1850 eighteen fifty
1511 fifteen eleven
1639 sixteen thirty nine
1545 fifteen forty five
1680 sixteen eighty
1909 nineteen zero nine
1809 eighteen zero nine
1504 fifteen zero four
2048 twenty forty eight
2056 twenty fifty six
1987 nineteen eighty seven
1730 seventeen thirty
1701 seventeen zero one
1730 seventeen thirty
1825 eighteen twenty five
1553 fifteen fifty three
1756 seventeen fifty six
2052 twenty fifty two
1727 seventeen twenty seven
2013 twenty thirteen
1940 nineteen forty
1744 seventeen forty four
1887 eighteen eighty seven
1501 fifteen zero one
1615 sixteen fifteen
2051 twenty fifty one
1505 fifteen zero five
2072 twenty seventy two
1950 nineteen fifty
2084 twenty eighty four
1963 nineteen sixty three
2080 twenty eighty
2085 twenty eighty five
1608 sixteen zero eight
1647 sixteen forty seven
2098 twenty ninety eight
2042 twenty forty two
1911 nineteen eleven
1944 nineteen forty four
1602 sixteen zero two
2006 two thousand six
1941 nineteen forty one
1693 sixteen ninety three
1968 nineteen sixty eight
1653 sixteen fifty three
1806 eighteen zero six
1663 sixteen sixty three
1671 sixteen seventy one
1948 nineteen forty eight
1835 eighteen thirty five